{% extends 'base.html' %}

{% block content %}

<h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
<p>До того, как двери нашего приюта распахнулись для его обитателей, была поставлена цель, — создать то место, где гости
    не будут расстраиваться, пугаться и плакать, а им захочется еще и еще приходить к нам в гости. Обстановка в нашем
    приюте дружная и веселая, а животные много общаются и гуляют. Для каждого хвостика, мы стараемся создавать
    индивидуальные условия, на основании особенностей здоровья и характера, а так же поведения.

    <br><br>Друзья! Мы всегда рады гостям, а особенно питомцы нашего приюта! Приезжайте гулять, играть, общаться и
    вибирать
    себе друга на всю жизнь.


    Существуем и развиваемся более 4 лет. Наш приют «родился» гораздо раньше Фонда. Изначально он был рассчитан всего на
    20 мест, но количество животных, оказавшихся в беде и попавших к нам, возрастало.

    И вместо одного земельного участка, появилось два. Теперь на попечении приюта 300+ хвостика.

    Cодержится приют на частные пожертвования. А ухаживают, общаются, выгуливают подопечных — волонтеры, добрые и
    заботливые.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet erat at diam tincidunt, in luctus mi
    fermentum. Pellentesque lorem tellus, auctor nec vehicula sed, ultricies eu elit. Quisque nulla erat, consectetur
    eget libero id, rutrum pretium purus. Duis at nunc et dolor fringilla egestas. Praesent mi tellus, scelerisque
    vitae urna in, porta mollis quam. Maecenas a mi nisl. Morbi tristique malesuada magna, id hendrerit nisi sagittis
    ac. Proin ut varius sapien, at egestas ipsum. Etiam venenatis elementum arcu, eget finibus ipsum iaculis vitae.
    Ut in hendrerit nunc. Maecenas sed orci eget lorem porttitor consequat. Duis dui mi, tincidunt in nunc ut, interdum
    eleifend neque. Vivamus varius, risus in imperdiet tincidunt, sapien ante dignissim tellus, ac finibus ex magna
    quis tellus. Morbi luctus eget nulla a pellentesque.
</p>
<a href="{% url 'home' %}"><button type="button" class="btn btn-light">Выбрать друга</button></a>

{% endblock %}